{
  "appUrl": "https://hypothes.is/app",
  "apiUrl": "https://hypothes.is/api",
  "username": "abcdef123456",
  "password": "",
  "limit": 100,
  "snsArn": "",
  "accessKeyId": "",
  "secretAccessKey": "",
  "region": "us-east-1"
}
