{
  "username": "abcdef123456",
  "apiUrl": "https://hypothes.is/api",
  "apiToken": "6879-2499568589688ebc88df9d888beef",
  "limit": 100,
  "snsArn": "",
  "accessKeyId": "",
  "secretAccessKey": "",
  "region": "us-east-1"
}
